body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.action{
    min-width: 150px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 500px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.action:hover, .action:focus {
    color: #313133;
    transform: translateY(-6px);
    opacity: 1;
}

.action::before {
    content: '';
    border-radius: 500px;
    min-width: calc(0px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}


.action::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.action:hover::after, .action:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

article{
    box-shadow: 0px 0px 10px green;
    padding: 5px;
    margin-top: 10px;
}

#choix{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

h1{
    text-decoration: underline;
    color: brown;
    font-size: 30px;
}

h2{
    color: violet;
}

a{
    color: black;
}

a:hover{
    color: green;
}

form{
    box-shadow: 0px 0px 10px red;
}